.mb-3{
    padding-right: 20%;
    padding-top: 10%;
}

.bvn{
    font-weight: bold;
}

a{
    padding-right:;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 5%;
    padding: 0.25% 1.5% 0.25% 1.5%;
}

.nav-link{
    margin-left: 15%;
}
.img_link{
    border-radius: 5px;
    border: 1px solid black;
}


/* .carousel-Dark{
    border: 1px solid;
    margin-left: 30px;
}

.img{
    
} */



